
.slider-wrap {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 40px;
  line-height: 1;
  opacity: 0.75;
  color: rgb(58, 33, 33);
}

div>.img {
    margin: 0;
    max-width: 300px;
    height: 300px;
}

.img {
    display: block;
}

.slider {
    width: calc((300px * 3) + (30px * 2));
    margin: auto;
}

.slick-prev:before,
.slick-next::before {
color: rgb(255, 81, 0);
}

.slick-dots li button::before {
    color: rgb(255, 81, 0);
}

.slick-dots li.slick-active button:before {
    color: rgb(255, 81, 0);
}


